@media only screen and (max-width: 767px) {
  .c7 {
    text-align: center;
    font-size: 25px;
  }
  .detail p {
    width: auto !important;
  }
}
@media only screen and (max-width: 992px) {
  .c5-img img {
    width: 100% !important;
    height: auto !important;
  }
}
